<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- init-method：指定初始化的方法
         destroy-method：指定销毁的方法 -->
    <bean id="student" class="com.shadeien.gateway.StudentBean" init-method="initStudent" destroy-method="destroyStudent">
        <property name="name" value="shadeien"></property>
    </bean>

    <bean id="student1" class="com.shadeien.gateway.Student" factory-bean="student" >
        <!--<property name="name" value="null"></property>-->
        <property name="name"><null/></property>
    </bean>
    <bean id="student2" class="com.shadeien.gateway.Student1"  >
        <property name="name" value="shadeien"></property>
    </bean>

    <bean class="com.shadeien.gateway.MyBeanPostProcessor"></bean>
</beans>